# PES 6 Game Physics Mod config
# Formato: key=value
# Valores permitidos para pesos/magnetismo: 0..999
#
# overall_ball_weight:
#   Valor base. Se aplica al iniciar y cuando no hay conduccion.
#
# ball_weight_possession:
#   Valor usado cuando ball+84 == 0, o sea conduccion/control con pelota.

overall_ball_weight=188
ball_weight_possession=225
